<section class="header">
    <div class="header__wrap">
        <div class="header__wrap__left">
            <div class="header__wrap__left__logo">
                <a><img src="../assets/images/logo.png"></a>
            </div>
            <div class="header__wrap__left__text">
                <p class="header__wrap__left__text__foundation">Foundation</p>
                <p class="header__wrap__left__text__start">Startup landing template</p>
            </div>
        </div>
        <div class="header__wrap__right">
            <div class="header__wrap__right__nav">
                <ul>
                    <li>
                        <a href=""><strong>Home</strong></a>
                    </li>
                    <li>
                        <a href="">Story</a>
                    </li>
                    <li>
                        <a href="">Library</a>
                        <a><img src="../assets/images/Arrow.png"></a>
                    </li>             
                </ul>
            </div>
            <div class="header__wrap__right__button">
                <a class="header__wrap__right__button__getStarted" href="#">Get Started</a>
            </div>
        </div>
    </div>
</section>






<section class="contact">
    <div class="contact__wrap">
        <div class="contact__wrap__brand">
            <h3><strong>Contact Us</strong></h3>
        </div>
        <div class="contact__wrap__img">
            <a><img class="contact__wrap__img--line" src="../assets/images/Line.png"></a>
        </div>
        <div class="contact__wrap__singIn">
            <div class="contact__wrap__singIn__email">
                <p class="contact__wrap__singIn__email__text"><strong>Your Email Address</strong></p>
                <input class="contact__wrap__singIn__email__input" type="text" placeholder="something@website.com" />
            </div>
            <div class="contact__wrap__singIn__subject">
                <p class="contact__wrap__singIn__subject__text"><strong>Subject</strong></p>
                <input class="contact__wrap__singIn__subject__input" type="text" placeholder="Question about your article" />
            </div>
            <div class="contact__wrap__singIn__message">
                <p class="contact__wrap__singIn__message__text"><strong>Message</strong></p>
                <input class="contact__wrap__singIn__message__input" type="text" placeholder="Your message start with..." />
            </div>
            <div class="contact__wrap__singIn__button">
                <a class="contact__wrap__singIn__button__Send" href="#">Send a Message</a>
            </div>
        </div>
    </div>
</section>






<section class="footer">
    <div class="footer__wrap">
        <div class="footer__wrap__left">
            <div class="footer__wrap__left__logo">
                <div>
                    <img src="../assets/images/footer-logo.png" />
                </div>
                <div>
                    <p class="footer__wrap__left__logo__Foundation">Foundation</p>
                    <p class="footer__wrap__left__logo__Startup">Startup tanding template</p>
                </div>
            </div>
            <p class="footer__wrap__left__text">
                Foundation is a website template for<br> startups and small teams. It helps to <br>build a website
                in no time.
            </p>
            <div class="footer__wrap__left__img">
                <a><img src="../assets/images/AppStore.png" /> <img src="../assets/images/Google Play.png" /></a>
            </div>
        </div>
        <div class="footer__wrap__right">
            <h4>Product</h4>
            <p class="footer__wrap__right__text__right">
                Accquire users<br>
                Content Marketing<br>
                Website templates<br>
                Customer Managemet<br>
                Virtual Inbox
            </p>
        </div>
        <div class="footer__wrap__right">
            <h4>Company</h4>
            <p class="footer__wrap__right__text__right">
                About Fundation<br>
                Brand Guidelines<br>
                Press Kid<br>
                Support
            </p>
        </div>
    </div>
    <div class="footer__line">
        <a></a><img src="../assets/images/Line.png"></a>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom__TPL">
            <p>Terms</p>
            <p>Privacy</p>
            <p>License</p>
        </div>
        <div class="footer__bottom__img">
            <a><img src="../assets/images/twitter.png"></a>
            <a><img src="../assets/images/fb.png"></a>
            <a><img src="../assets/images/LinkedIn.png"></a>
        </div>
    </div>
</section>