<section class="freeTrial">
    <div class="freeTrial__wrap">
        <div class="freeTrial__wrap__img">
            <img class="img--green" src="../assets/images/warwick.png">
        </div>
        <div class="freeTrial__content">
            <p class="freeTrial__content__Start">Start your free trial.</p>
            <p class="freeTrial__content__Built">Built for busy small teams </p>
            <p class="freeTrial__content__Three">Three products that can<br> be use independently<br> or combined
                together<br> for you company's<br> need.</p>
            <p class="freeTrial__content__notified">Get notified about company update,
                news and <br>blogs posts. We hate spam.
            </p>
            <div class="freeTrial__content__text">
                <input class="freeTrial__content__text__input" type="text" placeholder="Enter your email" />
                <div class="freeTrial__content__text__buttons ">
                    <a class="freeTrial__content__text__buttons__getStarted" href="#">Get Started</a>
                </div>
            </div>
            <p class="freeTrial__content__term">
                Free 14 day trial . Easy setup . Cancel any time .
                Chekout <a href="#">Terms of use</a>
            </p>
        </div>
    </div>
</section>


<section class="footer">
    <div class="footer__wrap">
        <div class="footer__wrap__left">
            <div class="footer__wrap__left__logo">
                <div>
                    <img src="../assets/images/footer-logo.png" />
                </div>
                <div>
                    <p class="footer__wrap__left__logo__Foundation">Foundation</p>
                    <p class="footer__wrap__left__logo__Startup">Startup tanding template</p>
                </div>
            </div>
            <p class="footer__wrap__left__text">
                Foundation is a website template for<br> startups and small teams. It helps to <br>build a website
                in no time.
            </p>
            <div class="footer__wrap__left__img" >
                <a><img src="../assets/images/AppStore.png" /> <img src="../assets/images/Google Play.png" /></a>
            </div>
        </div>
        <div class="footer__wrap__right">
            <h4>Product</h4>
            <p class="footer__wrap__right__text__right">
                Accquire users<br>
                Content Marketing<br>
                Website templates<br>
                Customer Managemet<br>
                Virtual Inbox
            </p>
        </div>
        <div class="footer__wrap__right">
            <h4>Company</h4>
            <p class="footer__wrap__right__text__right">
                About Fundation<br>
                Brand Guidelines<br>
                Press Kid<br>
                Support
            </p>
        </div>
    </div>
    <div class="footer__line">
        <a></a><img src="../assets/images/Line.png"></a>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom__TPL">
            <p>Terms</p>
            <p>Privacy</p>
            <p>License</p>
        </div>
        <div class="footer__bottom__img">
            <a><img src="../assets/images/twitter.png"></a>
            <a><img src="../assets/images/fb.png"></a>
            <a><img src="../assets/images/LinkedIn.png"></a>
        </div>
    </div>
</section>