*{
    font-family: 'Work Sans', sans-serif;
    margin:0 ;
}
body{
    width: 100%;
}
                /*FOUNDATION*/
.header{
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 100%;
    @include mobile-tablet(){
        display: none;
        width: 0%;
        padding: 0;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        &__left{
            width: 60%;
            display: flex;
            padding-left: 130px;
            &__text{
                margin-top:5px ;
                font-size: 15px;
                line-height: 1.8;
                margin-left: 10px;
                &__foundation{
                    font-weight: bold;
                    
                }
                &__start{
                    color: #2C3241;
                }
            }
        }
        &__right{
            padding-right: 130px;
            display: flex;
            width: 50%;
            &__nav{
                padding-top: 1.2rem;
                font-size: 16px;   
                width: 48%;     
                margin: 0 auto;
                ul{
                    justify-content: space-between;
                    display: flex;
                    li{
                        a{
                            font-family: Work Sans;
                            font-style: normal;
                            text-decoration: none;
                            color: #2B292D;

    
                        }
                    }
                }
            }
            &__button{
                border-radius: 2px;
                font-size: 1.125rem;
                font-weight: bold;
                width: 13rem;
                height: 4rem;
                background-color: #3040C4;
                line-height: 3rem;
                text-align: center;
                border: 1px;
                box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
                &__getStarted{
                    font-family: Work Sans;
                    font-style: normal;                    
                    font-size: 17px;
                    text-decoration: none; 
                    color: #FFFFFF;
                    line-height: 2.3;
                }
            }
        }
    }
}

                    /* CONTACT*/

.contact{
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
    background-color: #F4F5F7;
    @include mobile-tablet(){
        width: 100%;
        background-color: #C4C4C4;;
        padding-bottom: 5rem;
        padding-top: 6rem;
    }
    &__wrap{
        @include mobile-tablet(){
            width: 90%;
            margin: 0 auto;
        }
       &__brand{
           text-align: center;
           font-family: Work Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            line-height: 56px;
            color: #2B292D;
            @include mobile-tablet(){
                width: 100%;
                color: #000000;
                padding-bottom: 40px;
            }
       }
       &--smallline{
           display: none;
           @include mobile-tablet(){
             
           }
       }
       &__img{
            padding-top: 80px;
            padding-bottom: 80px;
            @include mobile-tablet(){
                display: none;
            }
        }
        &__singIn{
            width: 37%;
            margin: 0 auto;
            font-size: 16px;
            color: #2C3241;
            @include mobile-tablet(){
                width: 100%;
            } 
            &__email{
                line-height: 1.7;
                &__input{
                    font-size: 17px;
                    margin-top: 0.8rem;
                    height: 40px;
                    width: 100%;
                    margin-bottom: 2.5rem;;
                }
            }
            &__subject{
                line-height: 1.7;
                &__input{
                    font-size: 17px;
                    margin-top: 0.8rem;
                    height: 40px;
                    width: 100%;
                    margin-bottom: 2.5rem;;
                }
            }
            &__message{
                line-height: 1.7;
                &__input{
                    font-size: 17px;
                    margin-top: 0.8rem;
                    padding-bottom: 11rem;
                    width: 100%;
                    margin-bottom: 2.5rem;
                }
            }
            &__button{
                background-color: #3040C4;
                height: 4rem;
                width: 100%;
                text-decoration: none;
                display: inline-block;
                font-size: 17px;              
                text-align: center;
                line-height: 4rem;
                &__Send{
                    font-family: Work Sans;
                    font-style: normal;    
                    font-weight: bold;   
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}

                    /*FOOTER*/

.footer{
    padding-top: 4rem;
    padding-bottom: 5rem;
    width: 100%;
    background: #FFFFFF;
    @include mobile-tablet(){
        display: none;
        width: 0%;
        padding: 0;
    }
    &__wrap{
        margin: 0 auto;
        display: flex;
        width: 80%;
        padding-top: 1.4rem;
        color:rgba(43, 41, 45, 0.6);
        font-size: 1.2rem;
        padding-left: 7rem;
        &__left{
            width: 50%;      
            &__logo{
                display: flex;          
                &__Foundation{
                    padding-top: 10px;
                    font-weight: bold;
                    font-size: 16px;
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: bold;
                    color: #2B292D;
                }
                &__Startup{
                    padding-top: 8px;
                    font-size: 16px;
                    color:rgba(43, 41, 45, 0.6);
                    padding-bottom:  0.2rem
                }
            }
            &__text{
                padding-top: 1rem;
                color:rgba(43, 41, 45, 0.6);
                font-size: 16px;
                line-height: 22px;            
            }
            &__img{
                padding-top: 3rem;
                padding-bottom: 4.5rem;             
            }
        }
        &__right{
            padding-right: 6rem;
            width: 19%;
            padding-top: 1rem;
            color: #2B292D;
            font-size: 1.2rem;
            line-height: 2;          
            &__text__right{
                color:rgba(43, 41, 45, 0.6);
                padding-top: 1rem;
                font-size: 16px;
                line-height: 2;             
            }
        }
    }
    &__line{
        width: auto;
    }
    &__bottom{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__TPL{
            padding-top: 1.5rem ;   
            color:rgba(43, 41, 45, 0.6);
            width: 14%;
            display: flex;     
            font-size: 14px;
            justify-content: space-between;
            padding-left: 32px;
            .p{
                margin-left: 1rem;
            }
        }
        &__img{
            width: 11%;
            padding-top: 1.5rem;
            a{
                margin-right: 2rem;
            }
        }
    }
}