
.FreeTrial{
    background-color: #F4F5F7;
    width: 100%;
    padding-bottom: 5rem;
    &__wrap {
        padding-top: 6.625rem;
        width: 80%;
        margin: 0 auto;
        display: flex;
        @include mobile-tablet(){
            flex-wrap: wrap;
            margin: 0;
        }
        &__img{
            float: right;
            width: 45%;
            margin-left: 15px;
            @include mobile-tablet() {
                text-align: center;
                width: 33rem;
            }
            img {
                @include mobile-tablet() {
                max-width: 200px;
                height: auto;
                width: 100%;
                margin: 0;
                }
            }
            &--green{
                display: block;
                margin-left: auto;
                margin-right: auto;                
            }
        }                
    }
    &__content{
        font-size: 1.375rem;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        width: 55%;
        padding-right: 10rem;
        @include mobile-tablet(){
            padding-left: 40px;
        }
        &__Start{
            font-size: 40px;
            @include mobile-tablet(){
                display: none;
            }
        }
        &__Three{
            display: none;
            @include mobile-tablet(){
                width: 33rem;
                display: block;
                font-family: Work Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
                padding-top: 1.5rem;
                color: #2B292D;
                padding-bottom: 2.5rem;
            }
        }
        &__Built{
            display: none;
            @include mobile-tablet(){
                display: block;
                font-family: Work Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
                color: #2B292D;
                width: 35rem;
            }
            
        }
        &__notified{
            font-size: 22px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            line-height: 32px;
            @include mobile-tablet(){
                display: none;
            }
        }
        &__text{
            display: flex;
            flex-wrap: wrap;
            @include mobile-tablet(){
                display: block;
                width: 33rem;
                flex-wrap: wrap;
            }
            &__input{
                width: 60%;
                height: 3rem;
                font-size: 18px;
                padding-left: 0.5rem;
                @include mobile-tablet(){
                    width: 28rem;
                    text-align: center;
                }
            }
            &__buttons{
                border-radius: 2px;
                font-size: 1.125rem;
                font-weight: bold;
                width: 11rem;
                height: 3.3rem;
                background-color: #3040C4;
                line-height: 3rem;
                text-align: center;
                border: 1px;
                box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
                margin-left: 1rem;
                @include mobile-tablet(){
                    margin: 0;
                    width: 29rem;
                    height: 3.5rem;
                    text-align: center;
                    margin-top: 1rem;
                }
                &__getStarted{
                    font-family: Work Sans;
                    font-style: normal;                    
                    font-size: 12.5px;
                    text-decoration: none; 
                    color: #FFFFFF;
                    @include mobile-tablet(){
                        font-size: 18px;
                    }
                }
            }
        }
        &__term{
            color:rgba(43, 41, 45, 0.6);
            padding-top: 1.3rem;
            font-size: 13px;
            @include mobile-tablet(){
                line-height: 20px;
                width: 33rem;
            }
            .a{
                color: #3142C6;
                text-decoration: none;
            }
        }
    }
    
}



.footer{
    padding-top: 4rem;
    padding-bottom: 5rem;
    width: 100%;
    background: #FFFFFF;
    &__wrap{
        margin: 0 auto;
        display: flex;
        width: 80%;
        padding-top: 1.4rem;
        color:rgba(43, 41, 45, 0.6);
        font-size: 1.2rem;
        padding-left: 7rem;
        @include mobile-tablet(){
            flex-direction: column;
            padding-left: 15px;
        }
        &__left{
            width: 50%;
            &__logo{
                display: flex;
                @include mobile-tablet() {
                    display: block;    
                    text-align: center;    
                    width: 30rem;                                                                      
                }
                &__Foundation{
                    padding-top: 10px;
                    font-weight: bold;
                    font-size: 16px;
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: bold;
                    color: #2B292D;
                }
                &__Startup{
                    padding-top: 8px;
                    font-size: 16px;
                    color:rgba(43, 41, 45, 0.6);
                    padding-bottom:  0.2rem
                }
            }
            &__text{
                padding-top: 1rem;
                color:rgba(43, 41, 45, 0.6);
                font-size: 16px;
                line-height: 22px;
                @include mobile-tablet(){
                    display: none;
                }
            }
            &__img1{
                padding-top: 3rem;
                padding-bottom: 4.5rem;
                @include mobile-tablet(){
                    width: 30rem;
                    text-align: center;

                }
            }
        }
        &__right{
            padding-right: 6rem;
            width: 19%;
            padding-top: 0.8rem;
            color: #2B292D;
            font-size: 1.2rem;
            line-height: 2;
            &__text__right{
                color:rgba(43, 41, 45, 0.6);
                padding-top: 1rem;
                font-size: 16px;
                line-height: 2;
                @include mobile-tablet(){
                    width: 30rem;
                }
            }
        }
    }
    &__line{
        width: auto;
        @include mobile-tablet(){
            display: none;
        }
        &__smallline{
            display: none;
        }
    }
    &__bottom{
        width: 90%;
        float:right;
        display: flex;
        @include mobile-tablet(){
            flex-direction: row;
            padding-right: 2.3rem;
        }
        &__TPL{
            padding-top: 1.5rem ;
            color:rgba(43, 41, 45, 0.6);
            width: 45%;
            display: flex;     
            font-size: 14px;
            justify-content: space-between;   
            padding-left: 3rem ;   
            @include mobile-tablet(){
                width: 15rem;
                font-size: 13px;
                padding-top: 3rem;
                height: 5px;
                
            }
            .p{
                margin-left: 1rem;
                
            }
        }
        &__img{
            padding-top: 1.5rem;
            width: 50%;
            padding-left: 90rem;
            @include mobile-tablet(){
                width: 2rem;
                padding-left: 7rem;
                display:block;
                padding-top: 7rem;
                
            }
            &--Social{
                margin: 0;
                @include mobile-tablet(){
                    display: block;
                    flex-direction: row;
                }
            }
        }
    }
}