<section class='communicate container'>
        <section class='communicate_info'>
            <div class='communicate_content'>
                <p class='title'>Communicate Better</p>
                <h2 class='built-title'>Built for busy small teams</h2>
                <p class='description'>Three product that can be used independently or compined together for your company's need.</p>
                <a href ='#'class='btn-learnmore btn--primary'>Get Started</a>
            </div>
            <div class='communicate_img'>
                <img src="../assets/images/phone.png" alt="user" title="logo" />
                <p class='detail'>A better way to acquire new user</p>
            </div>
        </section>
        <article class='des_toolAndUser'>
            <article class='des_toolAndUser_detail'>
                <p class='learn_detail'><b>Subscription.</b> Foundation works with they tools and services your already use every day.</p>
                <a class='link-learn' href='#' class=''>Learn more about Subscription</a>
            </article>
            <article class='des_toolAndUser_detail'>
                <p class='learn_detail'><b>Subscription.</b> Felxible Hours. Get started with our simple snippet of JavaScript or easy to install SDKs for iOS
                    and Android.</p>
                <a class='link-learn' href ='#' class=''>Get more info about hours</a>
            </article>
            <article class='des_toolAndUser_detail'>
                <p class='learn_detail'><b>Fast Communicate.</b> Fast Communication. We offer measures like 2FA and SSO to ensure the safety of your data.</p>
                <a class='link-learn' href ='#' class=''>Communication guidelines</a>
            </article>
        </article>
    </section>