<img src="./assets/images/Logos.png" alt="" class='img-rss'>
    <section class='features'>
        
           <img class='features__eyes' src="./assets/images/eyes.png" alt="">
      
        <div class='features__main'>
            <p class='features__main__name features__distance'>Features</p>
            <h2 class='features__main__title features__distance'>Easily find leads and customers</h2>
            <p class='features__main__desc features__distance'>Send one-off and automated email, push, and in-app messages to people.
                Create better stories.</p>
            <div class='acquire'>
                <div>
                    <span class='acquire__title acquire__distance'> <i class="fas fa-burn"></i>Acquire new customers</span>
                </div>
                <p 
                class='acquire__desc acquire__distance'>Everything you need to start building – including open-source code, documentation.
                </p>
                 <img class="img_line acquire__distance"src="../assets/images/Line.png" alt="">
                <ul>
                    <li class="acquire__Engage acquire__distance">
                        <img src="../assets/images/icon-home.png" alt="">
                        <span >Engage users</span>
                    </li>
                   <img class="img__line1 acquire__distance"src="../assets/images/Line (1).png" alt="">
                    <li class="acquire__Develop acquire__distance">
                       <img src="../assets/images/icon-archive.png" alt="">
                        <span class="">Develop across platforms </span>
                    </li>
                </ul>
            </div>
        </div>
        
        <img class='features__invision' src="./assets/images/invision.png" alt="">
    </section>
    
    
    
    
    <div class="hidden">
    <img class="hidden__ouch" src="../assets/images/ouch.png" alt="">
     <h5 class="hidden__better">A better way to acquire new users</h5>
    <h4 class="hidden__Engage">Engage Users</h4>
    <h3 class="hidden__Engagewith">Engage with your audience</h3>
    <p class="hidden__Send">Send one-off and automated email, push, and in-app messages to people.
     Create better stories.</p>
    <img class="hidden__ouch1" src="../assets/images/ouch1.png" alt="">
    <h5 class="hidden__knowledge">Knowledge base and smart self-service</h5>
</div>