<section class="wrapper">
    <nav>
        <div class = "branch">
            <img src="../assets/images/Icon.png" id="Icon" />
            <div class="nav__text--icon">
                <p><strong>Foundation</strong></p>
                <p class = "nav__text--blur">Startup landing template</p>
            </div>
        </div>
        <div>
            <ul class = "navigation" id = "navigation" >
                <li class = "class--li"><a class = "navi__a" class = "active" href="">Home</a></li>
                <li class = "class--li"><a class = "navi__a" href="">Stories</a></li>
                <li class = "class--li"><a class = "navi__a" id="library">Libraries</a>
                </li>
                <div id="libraries__box" class="libraries__box">
                    <div class="library__text">
                        <h2> <strong> Accquire Users </strong> </h2>
                        <p> Work with the tools and services you use </p>
                    </div>
                    <div class="library__text">
                        <h2> <strong> Engage Customers </strong>
                        </h2>
                        <p> Get started with our simple snippet of JavaScript </p>
                    </div>
                    <div class="library__text">
                        <h2> <strong> Book Appointments </strong>
                        </h2>
                        <p> We offer measures like 2FA to ensure the safety </p>
                    </div>
                    <div class="library__text library__text--main">
                        <h2> <strong> Generate Leads </strong> </h2>
                        <p> Become a better designer by learning this courses </p>
                    </div>
                </div>
                <a id = "btn__main--blue" href="">Get Started</a>
            </ul>
            <div class = "div--toggle">
                <img id = "libraries" class = "toggle" src="../assets/images/toggle.png"/>
            </div>
        </div>
    </nav>
    <section class="wrapper__text">
        <h1>Build Stunning websites & apps.</h1>
        <p>Create live segments and target the right people for messages based on their behavior.</p>
        <div class = "btn__main">
            <a id="btn__main--blue" href="">Get Started</a>
            <a id="btn__main--white" href="">Learn More</a>
        </div>
        <img src="../assets/images/header-img.png"  alt="">
    </section>
</section>