<section class="hiring container">
    <img class="hiring__img__logos" src="./assets/images/Logos.png" alt="">
    <div class="hiring__content__above">
        <p class="hiring__content__trusted">Trusted by the world’s most innovative businesses – big and small</p>
        <p class="hiring__content__comprehensive">“Comprehensive set of startup tools for all imaginable entrepreneurial
            needs.
            Create landing pages, send emails, find freelancers. Perfect for sales, marketing, and support”</p>
        <div class="hiring__author">
            <a href="">Viella Malkovich</a>
            <p>Creative Direction at Jashon</p>
        </div>
        <div class="hiring__fas__wrap">
         <i class="fas fa-circle"></i>
         <i class="fas fa-circle"></i>
         <i class="fas fa-circle"></i>
        </div>
    </div>
    <img class="hiring__img__balloons" src="./assets/images/balloons.png" alt="">
    <div class="hiring__content__title">
        <h2>We’re hiring</h2>
        <p>We’re a team of lifelong learners. We’re equal parts left and right brained.</p>
        <a class="btn--cbn btn--primary" href="">More about company</a>
    </div>
    <div class="hiring__language__wrap">
        <div class="hiring__language__items">
            <div class="hiring__language__content">
                <p>Front-End Developer</p>
                <p>Los Angeles / Remote</p>
            </div>
            <div class="fas__wrap">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="hiring__language__items">
            <div class="hiring__language__content">
                <p>Community Manager</p>
                <p>New York / Full-Time</p>
            </div>
            <div class="fas__wrap">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="hiring__language__items">
            <div class="hiring__language__content">
                <p class="txt__uxui">UX/UI Designer</p>
                <p>New York / Full-Time</p>
            </div>
            <div class="fas__wrap">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>