<section class="hiring container">
    <img class="img--logos" src="./assets/images/Logos.png" alt="">
    <div class="contain--above">
        <p class="content--trusted">Trusted by the world’s most innovative businesses – big and small</p>
        <p class="content--comprehensive">“Comprehensive set of startup tools for all imaginable entrepreneurial needs.
            Create landing pages, send emails, find freelancers. Perfect for sales, marketing, and support”</p>
        <div class="contain--author">
            <a href="">Viella Malkovich</a>
            <p>Creative Direction at Jashon</p>
        </div>
    </div>
    <img class="img--balloons" src="./assets/images/balloons.png" alt="">
    <div class="contain_content--hiring">
        <h2>We’re hiring</h2>
        <p>We’re a team of lifelong learners. We’re equal parts left and right brained.</p>
        <a class="btn--cbn btn--primary" href="">More about company</a>
    </div>
    <div class="list--language--wrap">
        <div class="language--list">
            <div class="language">
                <p>Front-End Developer</p>
                <p>Los Angeles / Remote</p>
            </div>
            <div class="icon--angle--right">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="language--list">
            <div class="language">
                <p>Community Manager</p>
                <p>New York / Full-Time</p>
            </div>
             <div class="icon--angle--right">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <div class="language--list">
            <div class="language">
                <p class="txt_uxui">UX/UI Designer</p>
                <p>New York / Full-Time</p>
            </div>
              <div class="icon--angle--right">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>