<section class="wrapper login">
    <nav>
        <div class = "branch">
            <img src="../assets/images/Icon.png" id="Icon" />
            <div class="nav__text--icon">
                <p><strong>Foundation</strong></p>
                <p class = "nav__text--blur">Startup landing template</p>
            </div>
        </div>
        <div>
            <ul class = "navigation" id = "navigation" >
                <li class = "class--li"><a class = "navi__a" class = "active" href="">Home</a></li>
                <li class = "class--li"><a class = "navi__a" href="">Stories</a></li>
                <li class = "class--li"><a class = "navi__a" id="library">Libraries</a>
                </li>
                <div id="libraries__box" class="libraries__box">
                    <div class="library__text">
                        <h2> <strong> Accquire Users </strong> </h2>
                        <p> Work with the tools and services you use </p>
                    </div>
                    <div class="library__text">
                        <h2> <strong> Engage Customers </strong>
                        </h2>
                        <p> Get started with our simple snippet of JavaScript </p>
                    </div>
                    <div class="library__text">
                        <h2> <strong> Book Appointments </strong>
                        </h2>
                        <p> We offer measures like 2FA to ensure the safety </p>
                    </div>
                    <div class="library__text library__text--main">
                        <h2> <strong> Generate Leads </strong> </h2>
                        <p> Become a better designer by learning this courses </p>
                    </div>
                </div>
                <a id = "btn__main--blue" href="">Get Started</a>
            </ul>
            <div class = "div--toggle">
                <img id = "libraries" class = "toggle" src="../assets/images/toggle.png"/>
            </div>
        </div>
    </nav>

    <section class = "Wrapper__text">
        <div class = "contact">
            <h1>Contact us </h1>
        </div>

        <div>
            <form action="/action_page.php">
                <p><strong>Your email address</strong></p> 
                <input type="email" class="email" value="something@website.com">
                <p><strong>Subject</strong></p> 
                <input type="text" class="subject" value="Question about your article">
                <p><strong>Message</strong></p>
                <input type="text" class="message" value="Your message start with">
                <a id = "btn__main--blue" href="">Send a Message</a>
            </form> 
        </div>
    </section>
</section>