<!--page engage visitor-->
<section class="visitor container">
   <div class="visitor__content">
      <p class="visitor__content__title">Engage Visitors</p>
      <h2>Understand your audience</h2>
      <p class="visitor__content--early">Early stage company? Eligible applicants get all off our products for just $49 a month.</p>
      <div class="visitor__wrapbtn">
         <a class="btn btn--primary" href="">Get Started</a>
         <a class="btn btn--info" href="">Learn More</a>
      </div>
   </div>
   <div class="visitor__container--bottom">
      <div>
         <img src="assets/images/face.png" alt="">
         <p>Developers</p>
      </div>
      <div>
         <img src="./assets/images/tv.png" alt="">
         <p>Entertainment</p>
      </div>
      <div>
         <img src="./assets/images/run.png" alt="">
         <p>Athletes</p>
      </div>
      <div>
         <img src="./assets/images/moon.png" alt="">
         <p>Creators</p>
      </div>
   </div>
</section>