<section class="what" >
    <div class="what__about">
        <h1>what is it about?</h1>
        <p class="Building">Building a website for a starup that looks amazing
            is not a rocket science anymore.</p>
    </div>
    <div class="what__about">
        <h1>what is it for?</h1>
        <p class="Starups">Starups, small companies and teams, entrepreneurs, and web developers.</p>
    </div>
</section>
<!--section_NewYork-->
 <img src="./assets/images/Logos.png" alt="" class='img-rss'>
    <section class='features'>
        
           <img class='features__eyes' src="./assets/images/eyes.png" alt="">
      
        <div class='features__main'>
            <p class='name abc'>Features</p>
            <h2 class='title abc'>Easily find leads and customers</h2>
            <p class='desc abc'>Send one-off and automated email, push, and in-app messages to people.
                Create better stories.</p>
            <div class='acquire'>
                <div>
                    <span class='acquire__title xyz'> <i class="fas fa-burn"></i>Acquire new customers</span>
                </div>
                <p 
                class='acquire__desc xyz'>Everything you need to start building – including open-source code, documentation.
                </p>
                 <img class="line xyz"src="../assets/images/Line.png" alt="">
                <ul>
                    <li class="Engage xyz">
                        <i class="fas fa-burn "></i>
                        <span class="">Engage users</span>
                    </li>
                   <img class="line1 xyz"src="../assets/images/Line (1).png" alt="">
                    <li class="Develop xyz">
                        <i class="fas fa-burn "></i>
                        <span class="">Develop across platforms </span>
                    </li>
                </ul>
            </div>
        </div>
        
        <img class='features__invision' src="./assets/images/invision.png" alt="">
    </section>
<div class="img">
<img class="ouch"src="../assets/images/ouch.png" alt="">
<p>A better way to acquire new users</p>
</div>