<section class="what" >
    <div class="whatabout">
        <h1>what is it about?</h1>
        <p>Building a website for a starup that looks amazing
            is not a rocket science anymore.</p>
    </div>
    <div class="whatabout">
        <h1>what is it for?</h1>
        <p>Starups, small companies and teams, entrepreneurs, and web developers.</p>
    </div>
</section>
<!--section_NewYork-->


  <img class="logos" src="../assets/images/Logos.png" alt="">
<section class="features" >
    <img class="eyes"src="../assets/images/eyes.png" alt="">
<div class="content">
    <div class="Easily">
        <p>Features</p>
        <h1 class="Easily__find xyz " >Easily find leads and customners</h1>
        <p class="Easily__Send xyz " >Send one-off and automated email, push, and in-app messages to people.
            Create better stories.</p>
    </div>

    <div>
         <span class='title xyz' > <i class="fas fa-burn"></i>Acquire new customers</span>
        <p class='description abc'>
            Everything you need to start building – including open-source code, documentation.
        </p>
        <img class="abc" src="../assets/images/Line.png" alt="">
        <ul>
            <li class="Engage abc "  >
                <img src="../assets/images/icon-home.png" alt="">
                <span >Engage users</span>
            </li>
        <img class="abc" src="../assets/images/Line (1).png" alt="">
            <li class="Develop abc">
                <img src="../assets/images/icon-archive.png" alt="">
                <span class="Develop abc">Develop across platforms </span>
            </li>
        </ul>
    </div>
</div>
    
    <img src="../assets/images/invision.png" alt="">
   


</section>