<section class="what" >
    <div class="what__about">
        <h4>what is it about?</h4>
        <p class="what__about__building">Building a website for a starup that looks amazing
            is not a rocket science anymore.</p>
    </div>
    <div class="what__about">
        <h4>what is it for?</h4>
        <p class="what__about__building">Starups, small companies and teams, entrepreneurs, and web developers.</p>
    </div>
</section>

 
