<section class=''>
        <section class=''>
            <div class=''>
                <p class=''>Communicate Better</p>
                <h2 class=''>Built for busy small teams</h2>
                <p class=''>Three product that can be used independently or compined together for your company's need
                </p>
                <button class=''>Get Started</button>
            </div>
            <div class=''>
                <img src="../assets/images/phone.png" alt="user" title="logo" />
                <p>A better way to acquire new user</p>
            </div>
        </section>
        <article class=''>
            <article class=''>
                <p><b>Subscription.</b> Foundation works with they tools and services your already use every day.</p>
                <a href='#' class=''>Learn more about Subscription</a>
            </article>
            <article class=''>
                <p><b>Subscription.</b> Felxible Hours. Get started with our simple snippet of JavaScript or easy to install SDKs for iOS
                    and Android.</p>
                <a href ='#' class=''>Get more info about hours</a>
            </article>
            <article class=''>
                <p><b>Fast Communicate.</b> Fast Communication. We offer measures like 2FA and SSO to ensure the safety of your data.</p>
                <a href ='#' class=''>Communication guidelines</a>
            </article>
        </article>
    </section>