<section class='contact'>
    <div class='title'>
        <h1>Contact Us</h1>
    </div>
    <div class='formInput'>
        <div>
            <p>Your Email Address</p>
            <input type='email' placeholder='something@wedsite.com' name='email' />
            <p>Subject</p>
            <input type='text' placeholder='Question about your article' />
            <p>Message</p>
            <input class='textArea' type='text' placeholder='Your message start with...' /></br>
        </div>
        <a class='btn--primary btn--Send_a_Message' href="#">Send a Message</a>
    </div>
</section>