<section class='headerContact'>
    <nav>
        <div class='brand'>
            <img class="brand__logo" src="./assets/images/logo.png" alt="" >
            <div class='brand__info'>
                <strong class='brand__info__name'>Foundation</strong>
                <p class='brand__info__desc'>Startup landing template</p>
            </div>
        </div>
        <div class='navigations'>
            <ul>
                <li class='active'><a href="">Home</a></li>
                <li><a href="">Story</a></li>
                <li><a href="">Library</a></li>
            </ul>
            <a class='btn--primary  navigations__register_btn'>Get Started</a>
        </div>
</section>