<!DOCTYPE html>
<html>

<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

    {{> partials/header.hbs}}
    {{> partials/whatabout.hbs}}
    {{> partials/features.hbs}}
    {{> parials/inbox.hbs}}
    {{> parials/communication.hbs}}
    {{>partials/visitor.hbs}}
    {{>partials/hiring.hbs}}
</body>

</html>