@import "./styles/whatabout.scss";
@import "./styles/commons/responsive.scss";
@import "./styles/commons/variables.scss";
@import"./styles/commons/features.scss";


html{
    font-size: 62.5%;
}
 
*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}
p,h1{
    margin: 0;
    padding: 0;
}
ul{
  list-style: none;
}

@import './styles/commons/responsive.scss';
@import './styles/commons/reset.scss';
@import './styles/inbox.scss';
@import './styles/communication.scss';
@import './styles/headerContactUs.scss';
@import './styles/contactUs.scss';
@import './styles/visitor.scss';
@import './styles/commons/variables.scss';
@import './styles/commons/responsive.scss';
@import './styles/hiring.scss';
@import './styles/commons/responsive.scss';
@import './styles/header.scss';
@import './styles/login.scss';

body {
    font-size: 2.2rem;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Work Sans';
    margin: 0 ;
    padding:0 ;
    font-size: 2.2rem;
}
a, a:active, a:focus {
    text-decoration: none;
    color:#2B292D;
}
.btn--primary {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    background: $primaryColor;
    color: $infoColor;
    padding:16px 28px;
    border-radius: 2px;
    font-size: 1.7rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


    
a, a:active, a:focus {
    text-decoration: none;
    color:$textColor;
}


.btn--info {
    @extend .btn--primary;
    background: #FFFFFF;
    color: $primaryColor;
}
.container {
    @include  ipad(){
        padding-left: 65px;
        padding-right: 65px;
    }
    @include  mobile-tablet(){
        padding-left: 15px;
        padding-right: 15px;
    }
    padding-left:130px;
    padding-right:130px;
}
